.hl-include, .hl-preproc {
    color: #E91;
}

.hl-type, .hl-structure {
    color: #4C7;
}

.hl-symbol, .hl-keyword {
    color: #89F;
}

.hl-string, .hl-number {
    color: #E56;
}

.hl-comment {
    color: #888;
}
